---
import Llama from "../assets/images/llama.svg";
import Blob from "../assets/blob2/Vector 157.svg";
import Line1 from "../assets/blob2/Vector 158.svg";
import Line2 from "../assets/blob2/Vector 159.svg";

---

<section class="relative bg-thani100">
    <img src={Blob.src} alt="Image blob" class="absolute top-0 left-0">
    <img src={Line1.src} alt="Image line 1" class="absolute top-0 left-0">
    <img src={Line2.src} alt="Image line 2" class="absolute top-0 left-0">
  <div
    class="relative container flex items-center justify-between pt-10 mx-auto max-w-[1134px] animate-fade"
  >
    <img
      src={Llama.src}
      alt="Llama image"
      class="w-[238px] h-auto animate-fade-up"
    />
    <h2 class="text-2xl text-center text-background w-[809px] text-pretty">
      ¿Estás listo para transformar tu relación con tus emociones y vivir una
      vida más plena? Únete a la comunidad de Thani hoy mismo y comienza tu
      viaje hacia el bienestar emocional
    </h2>
  </div>
</section>
