---
import PlayStoreBtn from "./ui/PlayStoreBtn.astro";
---

<section>
  <div class="container flex flex-col items-center gap-12 py-[90px] mx-auto">
    <h2 class="text-4xl text-center text-thani100 font-bold max-w-[841px]">
      ¡Descarga Thani ahora y dale a tus emociones el espacio que se merecen!
    </h2>
    <PlayStoreBtn />
  </div>
</section>
