<header class="bg-[#F5F5F5]">
  <div class="container flex justify-between w-full mx-auto">
    <div class="w-24 py-7">
      <img src="/images/LogoThani_Color.png" alt="Logo Thani" />
    </div>
    <div class="w-24 py-7">
      <img src="/images/logo-claro.png" alt="Logo Lab" />
    </div>
  </div>
</header>
