<section class="bg-[#F5F6EF] py-[90px]">
  <div class="container flex gap-[245px] max-w-[1082px] mx-auto">
    <div class="flex flex-col items-start gap-12 text-textos max-w-[446px]">
      <h3 class="text-2xl font-bold">Acceso a datos estadísticos</h3>
      <p class="text-pretty">
        Estamos encantados de presentar una nueva función especialmente diseñada
        para centros psicológicos y profesionales de la salud: la capacidad de
        descargar el historial de emociones de sus pacientes, siempre bajo su
        consentimiento.
      </p>
      <a
        href="#"
        class="font-semibold bg-thani200 px-28 py-3 rounded-lg hover:drop-shadow-lg transition-all"
        >Acceder</a
      >
    </div>
    <div class="flex flex-col gap-7 text-textos max-w-[446px]">
      <h3 class="text-2xl font-bold">¿Cómo Funciona?</h3>
      <ul class="font-semibold space-y-8">
        <li>Regístrate como terapeuta</li>
        <li>Solicita Consentimiento</li>
        <li>Solicita Consentimiento</li>
        <li>Solicita Consentimiento</li>
      </ul>
    </div>
  </div>
</section>
