---
import Llama from "../assets/images/llama.svg";
import Blob from "../assets/blob2/blob2.svg";
---

<section class="relative bg-thani100">
  <div
    class="relative container flex flex-row-reverse md:flex-row-reverse items-center justify-center md:justify-between py-11 md:py-16 mx-auto max-w-[1134px] animate-fade overflow-y-clip"
  >
    <img src={Blob.src} alt="Image blob" class="absolute -top-44 -left-60" />
    <img
      src={Llama.src}
      alt="Llama image"
      class="absolute bottom-0 right-0 md:left-0 w-24 scale-75 md:scale-100 md:w-[238px] h-auto animate-fade-up"
    />
    <h2 class="text-sm md:text-2xl text-center text-background w-3/5 text-pretty">
      ¿Estás listo para transformar tu relación con tus emociones y vivir una
      vida más plena? Únete a la comunidad de Thani hoy mismo y comienza tu
      viaje hacia el bienestar emocional
    </h2>
  </div>
</section>
