---
import PlayStoreBtn from "./ui/PlayStoreBtn.astro";
---

<section class="group">
  <div class="container flex flex-col items-center gap-12 px-4 md:px-0 py-12 md:py-[90px] mx-auto">
    <h2 class="md:text-4xl text-center text-thani100 font-bold max-w-[841px]">
      ¡Descarga Thani ahora y dale a tus emociones el espacio que se merecen!
    </h2>
    <PlayStoreBtn />
  </div>
</section>
