---
import ThaniLogo from "../assets/images/LogoThani_Color.png";
import LabLogo from "../assets/images/logo-claro.png";
---

<header class="bg-[#F5F5F5]">
  <div class="container flex justify-between w-full px-4 sm:px-8 mx-auto max-w-[1134px]">
    <div class="w-24 py-7">
      <img src={ThaniLogo.src} alt="Logo Thani" />
    </div>
    <a href="https://labtecnosocial.org/" class="w-24 py-7">
      <img src={LabLogo.src} alt="Logo Lab" />
    </a>
  </div>
</header>
