---
import Blob from "../assets/blob1/Group 37028.svg";
import ThaniApp from "../assets/images/celular.png";
import PlayStoreBtn from "./ui/PlayStoreBtn.astro";
---

<main
  class="flex flex-col items-center gap-14 md:gap-[88px] overflow-x-hidden
md:justify-start md:overflow-x-hidden"
>
  <div
    class="relative flex flex-col items-center gap-10 md:gap-28 px-4 mt-10
  lg:flex-row lg:justify-center lg:px-0 lg:mt-14"
  >
    <img
      src={Blob.src}
      alt="Image Blob"
      class="absolute -top-[12%] -right-[63%] scale-[150%] lg:-top-[50%] lg:-right-[60%] lg:scale-100 -z-10"
    />
    <img
      src={ThaniApp.src}
      alt="Thani App Image"
      class="w-[279px] md:w-auto drop-shadow-md animate-fade-up"
    />
    <div class="flex md:hidden">
      <PlayStoreBtn />
    </div>
    <div class="flex flex-col items-center gap-6 md:gap-20">
      <h1
        class="text-xl md:text-2xl text-center text-thani200 font-bold md:max-w-[80%]"
      >
        ¡Descubre Thani y conecta con tus emociones ahora mismo!
      </h1>
      <p class="text-xl md:text-base text-center text-textos md:w-[620px] text-pretty">
        ¿Estás listo para explorar y gestionar tus emociones como nunca antes?
        Con Thani, podrás desbloquear el poder de tus emociones y experimentar
        una vida más equilibrada y significativa.
      </p>
      <div class="hidden md:flex">
        <PlayStoreBtn />
      </div>
    </div>
  </div>
  <div class="border-t border-textos border-opacity-25 w-[70%] md:w-[992px]"></div>
</main>
