---
import Blob from "../assets/blob3/blob3.svg";
---

<section class="relative bg-[#F5F6EF] overflow-x-hidden md:overflow-x-auto overflow-y-hidden">
  <div class="relative container flex flex-col md:flex-row items-center md:items-start gap-10 md:gap-[245px] py-8 md:py-[90px] max-w-[1082px] mx-auto">
    <img src={Blob.src} alt="Blob image" class="absolute -top-[30%] -right-[55%] scale-50 md:-top-[30%] md:-right-[20%] md:scale-100" />
    <div class="flex flex-col items-center md:items-start gap-7 md:gap-12 text-textos max-w-[446px]">
      <h3 class="text-base md:text-2xl font-bold">Acceso a datos estadísticos</h3>
      <p class="text-sm text-center md:text-start md:text-base text-pretty px-4 md:px-0">
        Estamos encantados de presentar una nueva función especialmente diseñada
        para centros psicológicos y profesionales de la salud: la capacidad de
        descargar el historial de emociones de sus pacientes, siempre bajo su
        consentimiento.
      </p>
      <a
        href="#"
        class="hidden md:block text-textos font-semibold bg-thani200 px-28 py-3 rounded-lg hover:drop-shadow-lg transition-all"
        >Acceder</a
      >
    </div>
    <div class="flex flex-col gap-7 text-textos max-w-[446px]">
      <h3 class="hidden md:block text-2xl font-bold">¿Cómo Funciona?</h3>
      <ul class="text-sm md:text-base font-semibold space-y-8">
        <li>Regístrate como terapeuta</li>
        <li>Solicita Consentimiento</li>
        <li>Solicita Consentimiento</li>
        <li>Solicita Consentimiento</li>
      </ul>
    </div>
    <a
        href="#"
        class="md:hidden text-center text-sm md:text-base text-textos font-semibold bg-thani200 w-[343px] py-3 rounded-lg hover:drop-shadow-lg transition-all"
        >Acceder</a
      >
  </div>
</section>
