---
import PlayStore from "../../assets/icons/PlayStore.svg";
---

<a href="#" class="w-[204px] md:w-[294px] hover:drop-shadow-xl transition-all">
  <img src={PlayStore.src} alt="PlayStore button" />
</a>
