---
import PlayStore from "../../assets/icons/google_play.png";
---

<a
  href="https://play.google.com/store/apps/details?id=org.labtecnosocial.thani&pcampaignid=web_share"
  class="w-[204px] md:w-[294px] hover:drop-shadow-xl transition-all"
  target="_blank"
>
  <img src={PlayStore.src} alt="PlayStore button" />
</a>
